.ant-card {
    margin: 1em;
    -webkit-box-shadow: -1px 1px 18px 1px rgba(194,190,194,1);
    -moz-box-shadow: -1px 1px 18px 1px rgba(194,190,194,1);
    box-shadow: -1px 1px 18px 1px rgba(194,190,194,1);
}

h3, h4 {
    text-align: left;
}

.hidden {
    display: none;
}

.solutionLine {
    text-align: left;
}